.focus-card {
    min-height: 600px;
}

.focus-card__header-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-exit {
    padding: 4px 12px;
    font-size: 20px;
}

.span-title {
    font-weight: 800;
    font-size: 27px;

}

.span-mod {
    margin-left: 37px;
}

.card--stop {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.textarea {
    display: block;
    margin-top: 10px;
    width: 100%;
    min-height: 400px;
    background: var(--color-background);
    border: 1px solid var(--color-primary);
    padding: 10px;
    border-radius: 5px;
    margin-left: 37px;
}

.card__title {

}

.focus-card__message {
    font-size: 50px;
    display: block;
    text-align: center;
    margin-top: 10%;
    text-decoration: underline;
}